#spring.application.name=music-resource-management

server:
  port: 8080

spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://121.199.71.16:3306/music_resource_system?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: Mysql@2025
  data:
    redis:
      host: 121.199.71.16
      port: 6379
      password: 123
      database: 1
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 100ms
  mail:
    username: ${spring.mail.username}
    password: ${spring.mail.password}
    host: ${spring.mail.host}
    smtp:
      host: smtp.126.com
      port: 465
      ssl:
        enable: true
      auth: true
  servlet:
    multipart:
      max-request-size: 100MB
      max-file-size: 100MB



mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.g12.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


logging:
  level:
    com:
      g12:
        mapper: debug
        service: info
        controller: info


#springdoc相关配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'g12'
      paths-to-match: '/**'
      packages-to-scan: com.g12  #改成你自己的包名，一般到启动类的包名

#knife4j相关配置 可以不用改
knife4j:
  enable: true
  setting:
    language: zh_cn
    swagger-model-name: 实体类

#阿里
alioss:
  endpoint: ${alioss.endpoint}
  access-key-id: ${alioss.access-key-id}
  access-key-secret: ${alioss.access-key-secret}
  bucket-name: ${alioss.bucket-name}


jwt:
  # 设置jwt签名加密时使用的秘钥
  admin-secret-key: g12
  # 设置jwt过期时间
  admin-ttl: 7200000
  # 设置前端传递过来的令牌名称
  admin-token-name: token
  # 设置jwt签名加密时使用的秘钥
  user-secret-key: g12
  # 设置jwt过期时间
  user-ttl: 7200000
  # 设置前端传递过来的令牌名称
  user-token-name: authentication



