<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.g12.mapper.MusicTagMapper">

    <insert id="addTag">
        insert into music_tag(music_id, tag_id, create_time, user_id)
        values (#{musicId}, #{tagId}, #{createTime}, #{userId})
    </insert>

    <select id="getMusicByTag" resultType="com.g12.entity.MusicResource">
        select mr.* from music_tag mt left outer join music_resources mr on mr.id = mt.music_id
        <where>
            <if test="userId != null">mt.user_id = #{userId}</if>
        </where>
    </select>

    <delete id="delete">
        delete from music_tag where music_id = #{musicId} and user_id = #{userId}
    </delete>

    <insert id="insertBatch">
        insert into music_tag(music_id, tag_id, user_id, create_time)
        values
        <foreach collection="tagList" item="tag" separator=",">
            (#{tag.musicId},#{tag.tagId},#{tag.userId},#{tag.createTime})
        </foreach>
    </insert>

</mapper>
