<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.g12.mapper.MusicResourceMapper">

    <select id="pageQuery" resultType="com.g12.entity.MusicResource">
        select * from music_resources
        <where>
            <if test="status != null">status = #{status}</if>
            <if test="type != null"> and type = #{type}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="categoryId != null"> and category_id = #{categoryId}</if>
        </where>
        <if test="sortBy != null">
            order by
            <choose>
                <when test="sortBy == 'uploadTime'">uploadTime</when>
                <when test="sortBy == 'id'">id</when>
            </choose>
            <choose>
                <when test="sortOrder == 'asc'">ASC</when>
                <when test="sortOrder == 'desc'">DESC</when>
            </choose>
        </if>
    </select>

    <!-- 批量删除音乐资源 -->
    <delete id="batchDeleteResources">
        DELETE FROM music_resources
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 新增音乐 -->
    <insert id="insert" parameterType="com.g12.entity.MusicResource" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO music_resources (
            name,
            type,
            album,
            image,
            description,
            status,
            uploadTime,
            uploadUserId,
            singer,
            duration,
            url
        ) VALUES (
                     #{name},
                     #{type},
                     #{album},
                     #{image},
                     #{description},
                     #{status},
                     #{uploadTime},
                     #{uploadUserId},
                     #{singer},
                     #{duration},
                     #{url}
                 )
    </insert>

    <!-- 用户名和用户ID查询音乐 -->
    <select id="selectByCondition" resultType="com.g12.entity.MusicResource">
        SELECT * FROM music_resources
        <where>
            <if test="uploadUserId != null">AND uploadUserId = #{uploadUserId}</if>
            <if test="name != null">AND name LIKE CONCAT('%', #{name}, '%')</if>
        </where>
        ORDER BY uploadTime DESC
    </select>

    <select id="selectById" resultType="com.g12.entity.MusicResource">
        SELECT * FROM music_resources
        WHERE id = #{id}
    </select>

    <select id="userPageQuery" resultType="com.g12.entity.MusicResource">
        select * from music_resources
        <where>
            <if test="status != null">status = #{status}</if>
            <if test="type != null"> and type = #{type}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="categoryId != null"> and category_id = #{categoryId}</if>
        </where>
        order by
            <choose>
                <when test="sortBy == 'uploadTime'"> uploadTime</when>
                <when test="sortBy == 'id'"> id</when>
            </choose>
            <choose>
                <when test="sortOrder == 'ASC'"> ASC</when>
                <when test="sortOrder == 'DESC'"> DESC</when>
            </choose>
    </select>

    <!-- 更新音乐资源状态 -->
    <update id="updateStatus">
        UPDATE music_resources
        SET status = #{status}
        WHERE id = #{id}
    </update>
</mapper>