<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.g12.mapper.PlaylistMapper">
    <select id="getMusic" resultType="com.g12.entity.MusicResource">
        select mr.* from playlist p left join music_resources mr on p.music_id = mr.id
        where p.user_id = #{userId} and mr.status = 1
        order by p.create_time desc
    </select>
</mapper>