<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.g12.mapper.UserMapper">

    <update id="update">
        update user
        <set>
            <if test="status != null">status = #{status}</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.g12.entity.User">
        select * from user
        <where>
            <if test="username != null">user_name = #{username}</if>
        </where>
    </select>

    <delete id="deleteById">
        DELETE FROM music_resource_system.user WHERE user_id = #{id}
    </delete>

    
</mapper>